/* AdminLogin.css */

/* Container */
.admin-login-container {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Alert message */
.admin-login-message {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.admin-login-message.success {
  background-color: #28a745; /* green */
}

.admin-login-message.error {
  background-color: #dc3545; /* red */
}

/* Form */
.admin-login-form {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  text-align: center;
   box-shadow: 0 0 20px rgb(255, 0, 0, 0.3);
}

.admin-login-form h2 {
  margin-bottom: 20px;
}

/* Inputs */
.admin-login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

/* Last input margin fix */
.admin-login-form input[type="password"] {
  margin-bottom: 15px;
}

/* Button */
.admin-login-form button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #e50914;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
@media (max-width: 740px) {
 .admin-login-form  {
    margin: 20px;
  }
}